
/*MAIN PAGE*/
/*-------------------------*/
.container{
/*    background-color: burlywood;*/
    margin: auto;
/*    margin-top: 2em;*/
    width:80%;
    height: auto;
    padding: 1em;
    position: relative;
}
/*----------------------------*/

/*NAVBAR SETTINGS*/
/*------------------------------*/
.navbar{
/*    background-color: black;*/
    margin: auto;
    text-align: center;
/*    padding:0.5em;*/
    font-size: 20px;
    height: 10%;
}

.nav-headers{
/*    background-color: darkgoldenrod;*/
    width:70%;
    float:left;
    text-align: left;
}

.nav-headers li{
    display: inline;
}

.nav-headers a{
    text-decoration: none;
    display: inline;
    padding: 10px 30px;
    color: coral;
}

.nav-headers a:hover{
    text-decoration: underline;
}

.logo{
/*    background-color: crimson;*/
    display: inline;
    width:auto;
    float: left;
    padding-left: 10%;
    padding-right:5%;
    height:70px;
}

.logo a:hover{
    text-decoration:none;
    background-color: none;
}
.myImg{
    height:100%;
    width:auto;
    float:right;
    border: 1px;
    border-color: black;
}

hr{
    color: black;
}
/*------------------------------*/

/*BIG DIV JUMBO*/
/*-------------------------------------*/

.bigDiv{
/*    background-color: darkkhaki;*/
    margin: auto;
    margin-top: 40px;
    height: auto;
    position:relative;
    text-align: center;
    color: white;
    display: block;
    font-size: 1.5em;
}

.bigDiv>img{
    width: 100%;
    height: 100%;
/*    opacity: 0.6;*/
    left: 0px;
    top: 0px;
    z-index: -1;
    position:absolute;
}

.bigDiv>h1,p{
    padding:2em;
}

.bigDiv>p{
    font-size: 18px;
}

/*BUTTON*/
.download{
    width:150px;
    height:50px;
    margin-top: -5%;
    background-color: darkgray;
    position: relative;
}

/*-----------------------------------------*/

/*RESUME*/
/*--------------------------------------*/
.resume{
/*    background-color: aqua;*/
    margin-top: 5%;
    text-align: center;
}

.resume>img{
    margin-top:5%;
    width:100%;
    height:auto;
    border: black solid 1px;
}
/*----------------------------------------*/

/*FOOTER*/
/*----------------------------------------*/

.footer{
    background-color: black;
    margin-bottom: -130px;
    height:250px;
    margin-top: 110px;
    text-align: center;
    color:#808080;
/*    position:relative;*/
/*    padding-bottom: 50px;*/

}

.footer>h3{
    padding-top: 50px;
/*    display: b*/
    margin-top:-2em;

}

.footer>p{
    margin-top: -30px;
    line-height: 1;
    font-size: 14px;
    display: inline-block;
}
/*---------------------------------------*/
