
/*MAIN PAGE*/
/*-------------------------*/
.container{
/*    background-color: burlywood;*/
    margin: auto;
/*    margin-top: 2em;*/
    width:80%;
    height: auto;
    padding: 1em;
    position: relative;
}
/*----------------------------*/

/*NAVBAR SETTINGS*/
/*------------------------------*/
.navbar{
/*    background-color: black;*/
    margin: auto;
    text-align: center;
/*    padding:0.5em;*/
    font-size: 20px;
    height: 10%;
}

.nav-headers{
/*    background-color: darkgoldenrod;*/
    width:65%;
    float:left;
    text-align: center;
/*    background: rgba(0, 0, 0, .8);*/
    height: 48px;
    max-height: 44px;
    background: #333;
    background: rgba(0,0,0,0.8);
    font-size: 17px;
}

.nav-headers li{
    display: inline;
}

.nav-headers a{
    text-decoration: none;
    display: inline;
    padding: 2% 3%;
    color: white;
}

.nav-headers a:hover{
    text-decoration: underline;
}

.logo{
/*    background-color: crimson;*/
    display: inline;
    width:20%;
    float: left;
/*
    padding-left: 10%;
    padding-right:5%;
*/
    height:100%;
}


.myImg{
    height:60%;
    width:auto;
    opacity:0.7;
    float:left;
    border: 1px;
    border-color: black;
}

.logo a,img:hover{
    text-decoration:none;
    background-color: none;
    opacity:1.0;
}

hr{
    color: black;
}
/*------------------------------*/

/*BIG DIV JUMBO*/
/*-------------------------------------*/

.bigDiv{
/*    background-color: darkkhaki;*/
    margin: auto;
    margin-top: 40px;
    height: auto;
    position:relative;
    text-align: center;
    vertical-align: middle;
    color: black;
    display: block;
    font-size: 1.5em;
    overflow: hidden;
    border:black solid 1px;
    background: rgba(0, 0, 0, .15);
}

/*
.bigDiv>img{
    width: 100%;
    height: 100%;
    opacity: 0.6;
    left: 0px;
    top: 0px;
    z-index: -1;
    position:absolute;
}
*/

.content{
/*    background-color: cadetblue;*/
    float:left;
    display: inline-block;
    width:auto;
    text-align: center;
    margin:auto;
/*    padding-right: 10%;*/
    
/*    position: absolute;*/
}

.content>h1,p{
    margin:1em;
}

.content>h1{
    font-size:3em;
}

.content>p{
    font-size: 1.5em;
}


.myImage{
    float:center;
    width: auto;
    height:50%;
    position:relative;
    display: inline-block;
    margin:auto;
/*    background-color: aqua;*/
    padding: 3%;
    
    
}

.myImage>img{

    width:auto;
    height:100%;
/*    padding:0.5%;*/
/*    position:relative;*/
}

/*BUTTON*/
.download{
    width:150px;
    height:40px;
    margin-top: auto;
    position: relative;
    background: rgba(0, 153, 0, .5);
}

/*-----------------------------------------*/

/*RESUME*/
/*--------------------------------------*/
.resume{
/*    background-color: aqua;*/
    margin-top: 100px;
    text-align: center;
}

.resume>img{
    margin-top:5%;
    width:100%;
    height:auto;
    border: black solid 1px;
}
/*----------------------------------------*/

/*FOOTER*/
/*----------------------------------------*/

.footer{
    background-color: black;
    margin-bottom: -130px;
    height:250px;
    margin-top: 110px;
    text-align: center;
    color:#808080;
/*    position:relative;*/
/*    padding-bottom: 50px;*/

}

.footer>h3{
    padding-top: 50px;
/*    display: b*/
    margin-top:-2em;

}

.footer>p{
/*    margin-top: -30px;*/
    line-height: 1;
    padding:2px;
    font-size: 14px;
    display: inline-block;
}
/*---------------------------------------*/
